html, body {
	margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

/***** Header *****/
#header {
	width: 100%;
	padding: 1em;
    margin: 0;
	top: 0;
}

#header a img{
    position : fixed;
    float:left;
    width:150px;
    height: 100px;
    margin: 0px;
}
