.editeprofile{
    width: 500px;
    height: 300px;
    margin-left:20%;
    padding: 10px;
    
}
.editeprofile:after {
    content : "";
    display: block;
    position: absolute;
    top: 250px;
    left: 0;
    background-image: url('https://cdn3.iconfinder.com/data/icons/flatastic-4-1/256/male_user_edit-512.png'); 
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;
    background-repeat: repeat-x;
}

label{
 display: block;
    width: 400px;
    cursor: pointer;
    padding-right: 6px;
    padding-bottom: 10px;
    font-size: 1.1em;
    font-family: Helvetica, Arial, Sans-Serif;
}


.link{
    font-size: 1.5em;
    text-align: center;
    text-decoration: underline;
}
.link:hover{
  color:blue;


}

