@import url("../style/common.css");
.editeprofile {
    /*border-style: inset;*/
    background: white;
    text-align: center;
    width: 35%;
    height: 30%;
    position: relative;
    left: 30%;
    border-style: dashed;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: #334d4d;
    border-top: none;
}

.editeprofile:after {
    display: block;
    position: absolute;
    top: 250px;
    left: 0;
    background-image: url('https://cdn3.iconfinder.com/data/icons/flatastic-4-1/256/male_user_edit-512.png');
    width: 100%;
    height: 100%;
    opacity: 0.1;
}

.editeprofile label {
    display: block;
    width: 400px;
    cursor: pointer;
    padding-right: 6px;
    padding-bottom: 10px;
    font-size: 1.1em;
    font-family: Helvetica, Arial, Sans-Serif;
    color: blue;
}

.link {
    font-size: 1.5em;
    text-align: center;
    color: brown;
}