@import url("../style/common.css");
#username{
  color: brown;
  font-size:1.1em;
  font-weight: bold;

}
#btnEdit{
    color: white;
    font-size: 1.1em;
      border-radius: 30px;
      padding: 7px;
      position: relative;
       top: 330px;
      left: 70%;
      background-color: #334d4d;

}
#btnEdit:hover{
    color:gray;
    font-weight: bold;

}

#namesInfo h3 > p{
  font-style: italic;
  font-family: "Times New Roman", Times, sans-serif;
    font-size: 30px;
    padding: 0px;
    margin: 0px;
}
#personalInfo div p{
  display: inline;
}
#userInfo{
      font-weight: bold;
}


.userInfo > p{
  font-size: 1.1em;
}

#personalInfo div{
  margin: 15px;
}

#namesInfo{
  background-color: white;
  background-size: 100% 120%;
  background-position: 30% 20%;
  background-repeat: no-repeat;
  border-style: dashed;
  border-radius: 10px;
  border-color: #334d4d;
  text-align: center;
  width: 500px;
  height: 30%;
  position: relative;
  left: 30%;
}

.restaurants{
  /*background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZ-rF4xhnyIMX7-p7bVFE3BPjaslEcWmI4XeevvH1kZMJag0nU');*/
  background-size:  100% 100%;
  background-repeat: no-repeat;
border-top-color: #2d5986;
border-top-style: solid;
border-bottom-color: #2d5986;
border-bottom-style: solid;
  text-align: center;
  margin: 20px;
margin-top: 50px;
  padding: 20px;
}

.restaurant{
  /*background-image: url('https://static.vecteezy.com/system/resources/previews/000/095/254/original/restaurant-menu-vector.jpg');
  background-size: 100% 100%;
   background-color: mediumspringgreen;
  border-top-style: solid;*/
  width: 600px;
    margin: 5px;
    padding: 20px;
margin-left: 40px;
    position: relative;
    left: 20%;
}

.restaurant h3{
  width: 130px;
    position: relative;
margin-left: 230px;
   font-size: 1.5em;

}

.restaurant h2{
  border-style: double;
  text-align: center;
  color: #2d5986;
  padding: 10px;
  width: 170px;
  position: relative;
  left: 35%;
  height: 50px;
  border-collapse: collapse;
  outline-offset: 5px;
  outline: 2px solid black;
  border: 2px solid #2d5986;
  font-style: italic;
  font-family: sans-serif;
}

.restaurant p{
  font-size: 1.3em;
   color: black;
}
.restaurant > h2  p{
    font-family: "Times New Roman", Times, serif;
    margin:5px;
    color: #2d5986;

}

.restaurant a{
   text-decoration: none;
  color: #2d5986;


}
.restaurant a:hover{
  color: #538cc6;
}

.restaurant #p2{
  margin-left: 20px;
}
